@import "variables";

.btn-common {
    min-width: 116px;
    height: 38px;
    background-color: $dark-blue;
    line-height: 1.5;
    color: white;

    &.is_large {
        min-width: 200px;
    }

    &:hover {
        color: white;
    }

    &:focus {
        box-shadow: none;
    }

    &:disabled {
        border: none;
        background-color: #979797;
        cursor: not-allowed;
    }
}

.form-group {
    &__message {
        margin-top: 0.25rem;
        color: $red-color;
    }
}
