$primary-color: #004F91;
$pink-color: #FFD2D2;
$red-color: #FF0000;
$primary-gray: #8E8EA1;
$light-gray: #f9f9f9;
$dark-blue: #004F90;
$white-color: #FFFFFF;
$placeholder-color: #8B90A0;
$icon-gray: #505565;
$gray-light:  #DDE2E5;
// Bootstrap variables
$modal-sm: 604px;
$modal-md: 800px;
$modal-lg: 1082px;
$custom-control-indicator-checked-bg: $primary-color;
$custom-control-indicator-size: 1.25rem;
$custom-control-indicator-bg-size: 75%;
$black-color: #000;
